<div class="w-full">
  <div class="relative mb-2 w-full pt-[56%]">
    <div class="absolute inset-0">
      <img
        src="https://images.pexels.com/photos/3561339/pexels-photo-3561339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="JavaScript Fundamentals: Variables and Data Types"
        class="h-full w-full"
      />
    </div>
    <span
      class="absolute bottom-1 right-1 inline-block rounded bg-black px-1.5 text-sm"
      >20:45</span
    >
  </div>
  <div class="flex gap-x-2">
    <div class="h-10 w-10 shrink-0">
      <img
        src="https://images.pexels.com/photos/3532545/pexels-photo-3532545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="codemaster"
        class="h-full w-full rounded-full"
      />
    </div>
    <div class="w-full">
      <h6 class="mb-1 font-semibold">
        JavaScript Fundamentals: Variables and Data Types
      </h6>
      <p class="flex text-sm text-gray-200">10.3k Views · 44 minutes ago</p>
      <p class="text-sm text-gray-200">Code Master</p>
    </div>
  </div>
</div>